<div class="body">

  <form class="form-horizontal" role="form">

    <div class="form-group">
      <label for="loginId" class="col-sm-5 control-label">用户名：</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="loginId" placeholder="请输入用户名" [(ngModel)]="userId" name="name">
      </div>
    </div>

    <div class="form-group">
      <label for="pwd" class="col-sm-5 control-label">密码：</label>
      <div class="col-sm-2">
        <input type="password" class="form-control" id="pwd" placeholder="请输入密码" [(ngModel)]="pwd"  name="pwd" >
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-2">
        <div class="checkbox">
          <label>
            <input type="checkbox"  [(ngModel)]="rememberMe" name="remerberMe">记住我
          </label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-5 col-sm-2">
        <button type="submit" id="submit" class="btn btn-primary" (click)="login()">登录</button>
      </div>
    </div>
  </form>

</div>
